# IDE
.idea/
.vscode/
*.iml

# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Next.js
.next/
out/
build/
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
